

 .card-details {
   padding: 10px;
 }

 @media (max-width: 768px) {
   .card-img-top {
     max-height: 250px;
     max-width: 250px;
     min-width: 200px;
     min-height: 250px;
   }

   .card-details {
     padding: 5px;
   }
 }

 
  