/* Chat container */
.chat-container {
  display: flex;
  justify-content: center;
 
}

/* Chat wrapper */
.chat-wrapper {
  display: flex;
  width: 100%;
  max-width: 800px;
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}

/* User list */
.user-list {
  flex: 1;
  background-color: rgb(58, 54, 48);
  padding: 20px;
}

.user {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user.active {
  background-color: rgb(254, 186, 48);
}

/* Chat box */
.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(66, 62, 55);
}

.messages-container {
  height: 400px;
  overflow-y: auto;
 
}

.message {
  padding: 10px;
  margin-bottom: 10px;
}

.sent {
  background-color: #e2f3ff;
  align-self: flex-end;
}

.received {
  background-color: #f7f7f7;
  align-self: flex-start;
}

.reply-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reply-container input[type="text"] {
  box-shadow: 0 0 0 0.25rem rgb(254, 186, 48);
  flex: 1;
  padding: 5px;
}

.reply-container button {
  margin-left: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .chat-wrapper {
    flex-direction: column;
  }

  .user-list {
    width: 100%;
    max-width: none;
  }

  .chat-box {
    width: 100%;
    max-width: none;
  }
}
